body{
    margin:0px;
    padding:0px;
    background:rgb(245, 245, 245); font-family: 'Raleway', sans-serif; 
}

.titulo {
    font-weight: bold;
    margin-left: 150px;
    margin-top: 40px;
}

.act {
    margin-left: 40px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.datos {
    width: 60%;
    margin: auto;
    min-height: 600px;
    padding-top: 70px;
}

.add1{
    font-weight: bold;
    font-size: 20px;
}

.add2-1{
    font-weight: bold;
    padding-left: 60px;
    margin-left: 345px;
    font-size: 20px;
}
.add2-2{
    font-weight: bold;
    padding-left: 60px;
    margin-left: 380px;
    font-size: 20px;
}
.add2-3{
    font-weight: bold;
    padding-left: 60px;
    margin-left: 375px;
    font-size: 20px;
}
.add2-4{
    font-weight: bold;
    padding-left: 60px;
    margin-left: 355px;
    font-size: 20px;
}
.add2-5{
    font-weight: bold;
    padding-left: 50px;
    margin-left: 295px;
    font-size: 20px;
}

.texto, .texto1, .texto2, .texto3, .texto4, .texto5, .fecha{
    width: 300px;
    font-size: 20px;
    margin-top: 5px;
}

.texto, .texto1, .texto2, .texto3, .texto4, .texto5, .fecha, select{
    border-bottom: 2px solid rgb(202, 202, 202);
    border-top: none;
    border-left: none;
    border-right: none;  
}

.texto:hover, .texto1:hover, .texto2:hover, .texto3:hover, .texto4:hover, .texto5:hover, .fecha:hover {
    border-color: #714aa8;
    cursor: pointer;
}

.fech_nac{
    margin-top: 5px;
}

.foto{
    font-size: 18px;
    margin-top: 5px;
}

.texto1 {
    margin-left: 180px;
}

.texto2 {
    margin-left: 140px;
}

.texto3 {
    margin-right: 180px;
}

.texto4 {
    margin-left: 280px;
}

.texto5 {
    margin-left: 180px;
}

@media only screen and (min-width:630px) and (max-width:830px){
    .datos {
        width: 98%;
    }

    .add2-1{
        padding-left: 60px;
        margin-left: 170px;
    }
    .add2-2{
        padding-left: 60px;
        margin-left: 205px;
    }
    .add2-3{
        padding-left: 60px;
        margin-left: 200px;
    }
    .add2-4{
        padding-left: 60px;
        margin-left: 180px;
    }
    .add2-5{
        padding-left: 50px;
        margin-left: 120px;
    }

    .texto1 {
        margin-left: 5px;
    }
    
    .texto2 {
        margin-left: 5px;
    }
    
    .texto3 {
        margin-right: 5px;
    }
    
    .texto4 {
        margin-left: 105px;
    }
    
    .texto5 {
        margin-left: 5px;
    }
    .foto {
        width: 300px;
    }
}

/*Query-cel-y-tablet*/
@media only screen and (min-width:350px) and (max-width:629px){
    .datos {
        width: 100%;
        margin: auto;
    }

    .texto, .texto1, .texto2, .texto3, .texto4, .texto5, .fecha{
        width: 225px;
    }
    .datos {
        width: 86%;
    }

    .add2-1{
        padding-left: 60px;
        margin-left: 100px;
    }
    .add2-2{
        padding-left: 60px;
        margin-left: 135px;
    }
    .add2-3{
        padding-left: 60px;
        margin-left: 130px;
    }
    .add2-4{
        padding-left: 60px;
        margin-left: 110px;
    }
    .add2-5{
        padding-left: 50px;
        margin-left: 50px;
    }

    .texto1 {
        margin-left: 5px;
    }
    
    .texto2 {
        margin-left: 5px;
    }
    
    .texto3 {
        margin-right: 5px;
    }
    
    .texto4 {
        margin-left: 35px;
    }
    
    .texto5 {
        margin-left: 5px;
    }
    .foto {
        width: 230px;
    }
}