.footer {
    width:100%; 
    height: 44px;
    background:#714aa8;
    margin: top 25px; 
}

.yo {
    margin-left: 10px;
    padding-top: 10px;
    color: #ffffff;
}

@media only screen and (min-width:350px) and (max-width:500px){
    .footer {
        width:145%; 
    }
}